extends ../../templates/layout

block content
    form(method="post").form
        input(value=victim.id, type="hidden", name="userId")
        
        .form--field
            label(for="email")= __('global.email:E-Mail')
            input(value=victim.email, type="email", id="email", name="email", placeholder=__('global.email:E-Mail'), class=hasErrors && fields.includes('email') ? 'input-invalid' : '')

        .form--field
            label(for="firstName")= __('global.firstName:Vorname')
            input(value=victim.firstName, type="text", id="firstName", name="firstName", placeholder=__('global.firstName:Vorname'), class=hasErrors && fields.includes('firstName') ? 'input-invalid' : '')

        .form--field
            label(for="lastName")= __('global.lastName:Nachname')
            input(value=victim.lastName, type="text", id="lastName", name="lastName", placeholder=__('global.lastName:Nachname'), class=hasErrors && fields.includes('lastName') ? 'input-invalid' : '')

        .form--field
            label(for="username")= __('global.username:Benutzername')
            input(value=victim.username, type="text", id="username", name="username", placeholder=__('global.username:Benutzername'), class=hasErrors && fields.includes('username') ? 'input-invalid' : '')
        
        if (user.isEqual(victim) && user.hasRight('user.edit.own.password')) || (!user.isEqual(victim) && user.hasRight('user.edit.all.password')) || newUser
            .form--field
                label(for="email")= newUser ? __('global.pass:Passwort') : __('view.settings.password.change:Passwort (nur eingeben wenn Änderung gewünscht)')
                input(type="password", id="pass", name="pass", placeholder=__('global.pass:Passwort'), class=hasErrors && fields.includes('pass') ? 'input-invalid' : '')

            .form--field
                label(for="pass2")= __('global.pass2:Passwort Wiederholung')
                input(type="password", id="pass2", name="pass2", placeholder=__('global.pass2:Passwort Wiederholung'), class=hasErrors && fields.includes('pass2') ? 'input-invalid' : '')

        if (user.isEqual(victim) && user.hasRight('user.edit.own.role')) || (!user.isEqual(victim) && user.hasRight('user.edit.all.role')) || newUser && user.hasRight('user.create.role')
            .form--field
                label(for="role")= __('global.role:Rolle')
                select(id="role", name="role", class=hasErrors && fields.includes('role') ? 'input-invalid' : '')
                    each r, id in roles 
                        if !r.secret || (r.secret && user._roleId === +id)
                            option(value=id, selected=(victim._roleId === +id))= __('roles.' + r.name + ':' + r.name)

        if (user.isEqual(victim) && user.hasRight('user.edit.own.confirmed')) || (!user.isEqual(victim) && user.hasRight('user.edit.all.confirmed'))
            .form--field
                input(type="radio", name="confirmed", id="confirmed", value="true", checked=!!victim.confirmed)
                label(for="confirmed").btn= __('global.confirmed:Bestätigt')
                input(type="radio", name="confirmed", id="unconfirmed", value="false", checked=!victim.confirmed)
                label(for="unconfirmed").btn= __('global.notconfirmed:Unbestätigt')

        if (user.isEqual(victim) && user.hasRight('user.edit.own.active')) || (!user.isEqual(victim) && user.hasRight('user.edit.all.active'))
            .form--field
                input(type="radio", name="active", id="active", value="true", checked=!!victim.active)
                label(for="active").btn= __('global.active:Aktiv')
                input(type="radio", name="active", id="inactive", value="false", checked=!victim.active)
                label(for="inactive").btn= __('global.inactive:Inaktiv')

        if newUser
            .form--field
                input(type="checkbox", name="sendmail", id="sendmail")
                label(for="sendmail")= __('view.settings.sendmail:Dem Nutzer eine Mail zur Bestätigung seiner E-Mail Adresse schicken')
            

        button(type="submit").btn__primary= __('global.save:Speichern!')