extends ../../templates/layout

block content
    table
        tr
            td(colspan=2)
                img(src=victim.image, alt=__('user.image:Benutzerbild')).img__medium
        tr
            td= __('user.email:E-Mail')
            td=victim.email
        tr
            td= __('user.username:Benutzername')
            td=victim.username
        tr
            td= __('user.role:Rolle')
            td= __('roles.' + victim.role.name)

    if user.hasRight('user.edit.all')
        a(href="/" + __('path.settings.base') + '/' + victim.username)= __('global.edit:Bearbeiten')