extends ../templates/layout.pug

block content
    table
        tr
            td= __('E-Mail')
            td=victim.email
        tr
            td= __('Benutzername')
            td=victim.username
        tr
            td= __('Rolle')
            td=victim.role.name