extends ../templates/layout.pug

block content
    table
        tr
            td= __('global.email:E-Mail')
            td=victim.email
        tr
            td= __('global.username:Benutzername')
            td=victim.username
        tr
            td= __('global.role:Rolle')
            td=victim.role.name