extends ../templates/layout.pug

block content
    form(method="post")
        input(value=formdata ? formdata.email : false, type="email", name="email", placeholder=__('global.email:E-Mail'), class=hasErrors && fields.includes('email') ? 'input-invalid' : '')
        input(value=formdata ? formdata.username : false, type="text", name="username", placeholder=__('global.username:Benutzername'), class=hasErrors && fields.includes('username') ? 'input-invalid' : '')
        input(type="password", name="pass", placeholder=__('global.pass:Passwort'), class=hasErrors && fields.includes('pass') ? 'input-invalid' : '')
        input(type="password", name="pass2", placeholder=__('global.pass2:Passwort Wiederholung'), class=hasErrors && fields.includes('pass2') ? 'input-invalid' : '')
        button(type="submit")= __('view.register.submit:Registrieren!')