extends ../templates/layout.pug

block content
    table 
        thead
            tr
                th= __('Benutzername')
                th= __('E-Mail')
                th= __('Beigetreten')
                th &nbsp;
        tbody
            each u in users
                tr 
                    td= u.username
                    td= u.email
                    td= date.fromNow(u.createdAt, true)
                    td
                        a(href="/user/" + u.username)= __('Profil')
                        if user.hasRight('user.edit.all')
                            a(href="/settings/" + u.username)= __('Bearbeiten')