extends ../../templates/layout

block content
    .v-login
        form(method="post", id="login").form
            .form--field
                label(for="email")= __('user.email:E-Mail')+'*'
                input(type="email", id="email", name="email", placeholder= __('user.email:E-Mail'), required, autocomplete="off").form--element
            .form--field
                label(for="pass")= __('user.pass:Passwort')+'*'
                input(type="password", od="pass", name="pass", placeholder=__('user.pass:Passwort'), required, autocomplete="off").form--element
            .form--field
                input(type="checkbox", name="remember", id="remember")
                label(for="remember")= __('view.login.remember:Eingeloggt bleiben')
            .form--field
                a(href="/forgot")= __('view.login.forgot:Passwort vergessen?')
            .form--field
                button(type="submit").btn__primary= __('view.login.submit:Login!')