doctype html
html 
    head
        title node-login
        link(href="/css/style.css", rel="stylesheet" type="text/css")

    body
        h1 login-frame
        
        nav 
            a(href="/")= __('Hauptseite')
            a(href="/restricted") Restricted
            if !isLoggedin
                a(href="/login")= __('Login')
                a(href="/register")= __('Registrierung')
            else
                a(href="/user")= __('Benutzer')
                a(href="/settings")= __('Einstellungen')
                
                if user.hasRight('admin.panel')
                    a(href="/admin")= __('Administration')

                a(href="/logout")= __('Logout')
                
            .pull-right
                if !isLoggedin
                    span= __('Nicht eingeloggt')
                else
                    span= __('Hallo %s!', user.username)
                    
        h2= headline
            
        if messages.error.length > 0
            - hasErrors = true
            .msg.msg-error
                strong= __('Error')
                ul
                    each msg in messages.error
                        li!= msg.message

        if messages.success.length > 0
            .msg.msg-success
                strong= __('Erfolg')
                ul
                    each msg in messages.success
                        li!= msg.message

        block content