doctype html
html 
    head
        title node-login
        link(href="/css/style.css", rel="stylesheet" type="text/css")

    body
        h1 login-frame
        
        nav 
            a(href="/")= __('Hauptseite')
            a(href=__('/restricted')) Restricted
            if !isLoggedin
                a(href=__('/login'))= __('Login')
                a(href=__('/register'))= __('Registrierung')
            else
                a(href=__('/user'))= __('Benutzer')
                a(href=__('/settings'))= __('Einstellungen')
                
                if user.hasRight('admin.panel')
                    a(href=__('/admin'))= __('Administration')

                a(href=__('/logout'))= __('Logout')
                
            .pull-right
                if !isLoggedin
                    span= __('Nicht eingeloggt')
                else
                    span= __('Hallo %s!', user.username)
                    
        h2= headline
            
        if messages.error.length > 0
            - hasErrors = true
            .msg.msg-error
                strong= __('Error')
                ul
                    each msg in messages.error
                        if msg.message 
                            li!= msg.message
                        if msg.messageTranslate
                            li!= __(msg.messageTranslate)

        if messages.success.length > 0
            .msg.msg-success
                strong= __('Erfolg')
                ul
                    each msg in messages.success
                        if msg.message 
                            li!= msg.message
                        if msg.messageTranslate
                            li!= __(msg.messageTranslate)

        block content