extends #{paths.template}/layout.pug

block content
    if user.hasRight('user.create')
        a(href="/" + __('path.user.new:user/new'))= __('view.userlist.create:Neuen Benutzer anlegen')
    table 
        thead
            tr
                th= __('global.username:Benutzername')
                th= __('global.email:E-Mail')
                th= __('global.joined:Beigetreten')
                th &nbsp;
        tbody
            each u in users
                tr 
                    td= u.username
                    td= u.email
                    td= date.fromNow(u.createdAt, true)
                    td
                        a(href="/" + __('path.user.base') + '/' + u.username)= __('global.profile:Profil')
                        if user.hasRight('user.edit.all')
                            a(href="/" + __('path.settings.base') + '/' + u.username)= __('global.edit:Bearbeiten')