extends ../../templates/layout

block content
    if user.hasRight('user.create')
        a(href="/" + __('path.user.new:user/new'))= __('view.userlist.create:Neuen Benutzer anlegen')
    table 
        thead
            tr
                th= __('user.image:Benutzerfild')
                th= __('user.username:Benutzername')
                th= __('user.email:E-Mail')
                th= __('user.joined:Beigetreten')
                th &nbsp;
        tbody
            each u in users
                tr 
                    td 
                        img(src=u.image, alt=__('user.image:Benutzerbild')).img__small
                    td= u.username
                    td= u.email
                    td= date.fromNow(u.createdAt, true)
                    td
                        a(href="/" + __('path.user.base') + '/' + u.username)= __('user.profile:Profil')
                        if user.hasRight('user.edit.all')
                            a(href="/" + __('path.settings.base') + '/' + u.username)= __('global.edit:Bearbeiten')